extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/questlist.css")
  script(src="/javascripts/quest-list.js")

block content
  .container
    .sub
      h3 Hello #{locals.user.username} the adventurer. Witness your quests.
      .spacer-questlist
      .title-box
        h4 Active
      .content-box
        ul#active-quests
          each quest in active
            .quest-row
              a(href=`/quests/${quest.id}` class="quest-a")
                li #{quest.name}
              button(class=`complete-quest-button` id=`complete-${quest.id}`) Mark as Complete
      .spacer-questlist
      .title-box
        h4 Completed
      .content-box
        ul#completed-quests
          each quest in completed
            .quest-row
              a(href=`/quests/${quest.id}` class="quest-a")
                li #{quest.name}
