extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/quest-detail.css")
  script(src="/javascripts/quest-detail.js")

block content
  .page-heading
    h2 Quest No. #{quest.id} Details
  .quest-container
    .quest-name.quest-data
      h3 Quest: #{quest.name}
        .link-container
          button.edit 
            a(href=`/quests/edit/${quest.id}`) Edit Quest
    .quest-description.quest-data
      h5 Description:
      p= quest.description
    .quest-startDate.quest-data
      h5 Started On:
      p= quest.startDate
    .quest-deadline.quest-data
      h5 Deadline:
      p= quest.deadline
    .quest-xpValue.quest-data
      h5 XP Value:
      p #{quest.xpValue} Points
    .quest-solo.quest-data
      h5 Solo or group?
      if quest.solo
        p This quest is meant to be done solo.
      else
        p This quest is meant to be done in a group as a Raid.
    if quest.completedDate
      .quest-completedDate.quest-data
        p= quest.completedDate
    .quest-edit-complete.quest-data
      h5 Update Quest:
      .update-container
        if (!quest.completedDate)
          a(href=`api/quests/${quest.id}`)
          button(class=`completed complete-quest-button` id=`complete-${quest.id}` onClick="window.location.reload();") Complete Quest
        a(href=`api/quests/${quest.id}`)
        button.delete Delete Quest
      
        
